body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

header {
    width: 100%;
    height: 20vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

article {
    background-color: white;
    width: 100%;
    height: 100vh;
}

footer {
    width: 100%;
    height: 5vh;
}